/* BR PETROLHEADS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:#050505;

background-image:
linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.85)),
url("garage.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

.container{

width:95%;
max-width:550px;

padding:40px 25px;

text-align:center;

backdrop-filter:blur(8px);

}

.logo{

width:190px;

margin-bottom:30px;

filter:
drop-shadow(0 0 15px #d4af37)
drop-shadow(0 0 40px #8d6b17);

}

h2{

font-weight:300;

font-size:18px;

letter-spacing:6px;

color:#e4d4a0;

margin-bottom:10px;

}

h1{

font-size:46px;

font-weight:700;

color:#d4af37;

letter-spacing:2px;

margin-bottom:15px;

text-shadow:

0 0 8px #d4af37,

0 0 18px rgba(212,175,55,.35);

}

p{

color:#d9d9d9;

font-size:18px;

margin-bottom:45px;

}

.button{

display:flex;

align-items:center;

justify-content:space-between;

text-decoration:none;

background:rgba(10,10,10,.92);

border:2px solid #b8860b;

border-radius:24px;

padding:25px;

margin-bottom:25px;

transition:.35s;

box-shadow:

0 0 20px rgba(212,175,55,.15);

}

.button:hover{

transform:translateY(-5px);

border-color:#ffd700;

box-shadow:

0 0 35px rgba(255,215,0,.45);

background:#111;

}

.left{

display:flex;

align-items:center;

}

.icon{

font-size:46px;

color:#d4af37;

margin-right:25px;

}

.title{

font-size:28px;

font-weight:700;

color:#d4af37;

}

.subtitle{

font-size:15px;

margin-top:5px;

color:#d8d8d8;

letter-spacing:1px;

}

.arrow{

font-size:38px;

color:#d4af37;

transition:.3s;

}

.button:hover .arrow{

transform:translateX(10px);

}

footer{

margin-top:50px;

color:#bfa04a;

font-size:14px;

letter-spacing:4px;

opacity:.9;

}

.gold-line{

width:120px;

height:2px;

background:#d4af37;

margin:25px auto;

box-shadow:0 0 10px gold;

}

@media(max-width:600px){

.logo{

width:150px;

}

h1{

font-size:34px;

}

.title{

font-size:22px;

}

.subtitle{

font-size:13px;

}

.icon{

font-size:38px;

}

.arrow{

font-size:30px;

}

}
